### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3


# Django stuff:
*.log
local_settings.py

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

### Custom ###
data/*
!data/.gitkeep 
app/media/*
!app/media/.gitkeep 
app/celery_test.txt
app/config.json
.vscode/
env
client_secret.json
config.ini
app/staticfiles/
!app/staticfiles/.gitkeep
db_config.ini
