django
celery
redis
asgiref
django-appconf
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-haystack
gunicorn
model-bakery
psycopg2-binary
pytz
selenium
sqlparse
typing-extensions
urllib3
whitenoise
pandas
numpy
gspread
oauth2client
configparser
mplfinance