{% extends '_base.html' %}

{% block content %}
		<!-- start: Page Title -->
	<div id="page-title">

		<div id="page-title-inner">

			<!-- start: Container -->
			<div class="container">

				<h2><i class="ico-stats ico-white"></i>Django Crispy Forms Advanced Usage Example</h2>

			</div>
			<!-- end: Container  -->

		</div>	

	</div>
	<!-- end: Page Title -->				
	<div class="container">
		<p><span style="background-color: #FFFF00">This project is intended to be viewed on full screen devices, not smartphones.</span></p>
		<p><a href="{% url 'all_schemas' %}">Return to the list of all schemas</a></p>
		{% load crispy_forms_tags %}
		{% crispy form %}
	</div>										
{% endblock %}